<app-menu></app-menu>


<div class="">
<h1 class="text-center">DIAGNOSIS Brain Cancer</h1>
<h3 class="text-center font-italic">Please the Fill with the right information and then download the report analysies</h3>

<div class="container" style="width: 50rem; " >
    <form (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="form-group col-md-6">
                <label for="nom">Name</label>
                <input type="text" class="form-control my-input" name="nom" id="nom" [(ngModel)]="patient.nom"  required>
            </div>
            <div class="form-group col-md-6">
                <label for="prenom">Surname</label>
                <input type="text" class="form-control my-input" name="prenom" id="prenom" [(ngModel)]="patient.prenom"   required>
            </div>

        </div>
        
       <div class="row">
        <div class="form-group col-md-6">
            <label for="sexe">Gender</label>
            <select class="form-control my-input" id="sexe" name="sexe" [(ngModel)]="patient.sexe"required>
                <option value="M">Male</option>
                <option value="F">Femele</option>     
            </select>   
        </div>
        <div class="form-group col-md-6">
            <label for="age">Age</label>
            <input type="text" class="form-control my-input" name="age" id="age" [(ngModel)]="patient.age"  required>
        </div>

       </div>
       <div class="form-group d-flex">
        <label>Symptome</label>
        <div class="form-check">
            <label class="form-check-label" for="toux">Toux</label>
            <input type="checkbox" class="form-check-input" value="Toux" id="toux" > 
                  
        </div>
        <div class="form-check">
            <label class="form-check-label" for="cephale">Cephale</label>
            <input type="checkbox" class="form-check-input" value="Cephale" id="cephale" > 
            
        </div>
        <div class="form-check">
            <label class="form-check-label" for="fievre">Fievre</label>
            <input type="checkbox" class="form-check-input" value="fievre" id="fievre" > 
            
        </div>
       </div>
       <div class="row">
        <div class="form-group col-md-6">
            <label for="image">Type Of image</label>
            <select class="form-control my-input" id="image" name="image" [(ngModel)]="exam.images"  required>
                <option value="MRI">MRI</option>
                <option value="CT-SCAN">CT-SCAN</option>
                <option value="Ultrasound">Ultrasound</option> 
                <option value="X-Ray">X-Ray</option> 
                <option value="PET">PET</option>    
            </select>   
        </div>
        <div class="form-group col-md-6">
            <label for="Image">Image</label>
             <input type="file" name="image"  accept="image/*"  class="form-control" id="image" (change)="onFileSelected($event) "  >
          </div>

       </div>
        
          <div class="col">

          </div>
          <br/>
          <div class="text-center ">
            <input type="submit"   class=" btn btn-block btn-info " value="Result">
          </div>
          <div class="text-center" *ngIf="pdfDataUrl">
            <a [href]="this.pdfDataUrl" download="{{ this.patient.nom }} {{ this.patient.prenom }}.pdf">Download PDF</a>
          </div>
          
    </form>
</div>
</div>
<app-footer></app-footer>
