<app-menu></app-menu>
<div class="container">

    <h1 class="text-center">Welcome to Bright-Medicals {{user.grade}} {{user.nom}}</h1>
    <h3 class="text-center font-italic">Your Latest Test On Bright-Medicals</h3>
    <h4 class="text-center font-italic">{{this.date | date: 'EEEE dd MMMM yyyy'}}</h4>
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                 
                <th scope="col">id</th>
                <th scope="col">Image</th>
                <th scope="col">Date</th>
                <th scope="col">Resultat</th>
            </tr>
        </thead>
        <tbody *ngFor="let ex of examList">
            <tr>
                <td>{{ex.id}}</td>
                <td>{{ex.images}}</td>
                <td><span>{{ex.date | date:"dd/MM/yyyy"}}</span></td>
                <td>{{ex.result}}</td>
            </tr>
        </tbody>
    </table>

</div> 
<app-footer></app-footer>